.footer {
  max-width: 92.5%;
  margin: 0 auto 24px;
  display: flex;
  justify-content: space-between;
  }

@media screen and (max-width: 425px) {
    .footer {
      flex-direction: column;
      margin-left: 16px;
    }
  }
